.card-container {
  padding: 30px 10px;
  transition: 0.4s ease-in;
}

input[type="radio"] {
  display: none;
}

.card {
  position: absolute;
  transition: transform 0.4s ease;
  cursor: pointer;
}

.card-container {
  display: flex;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 400px;
}

.cards {
  width: 50%;
  margin-bottom: 20px;
}

.card-img {
  display: flex;
  width: 650px;
  height: 350px;
  border: 2px solid rgb(144, 144, 144);

  background: #1c1c1c;
  box-shadow: 0px 1px 30px -1px rgba(0, 0, 0, 0.75) inset;
  -webkit-box-shadow: 0px 1px 30px -1px rgba(0, 0, 0, 0.75) inset;
  -moz-box-shadow: 0px 1px 30px -1px rgba(0, 0, 0, 0.75) inset;
}

@media (max-width: 800px) {
  .card-container {
    padding-bottom: 200px;
    width: 50vh;
  }

  .card-img {
    width: 50vh !important;
    height: 30%;
  }

  .project-title {
    padding: 0;
    margin: 0;
    font-size: 0.7em !important;
  }

  .project-text {
    padding-top: 25px !important;
    padding-bottom: 20px;
    font-size: 0.5em !important;
    max-width: 80%;
    letter-spacing: 0.3em;
  }

  .cards {
    width: 100%;
  }
  #item-1:checked ~ .cards #card-3,
  #item-2:checked ~ .cards #card-1,
  #item-3:checked ~ .cards #card-2 {
    transform: translatex(-25%) scale(0.8) !important;
    opacity: 0.3;
    z-index: 0;
  }

  #item-1:checked ~ .cards #card-2,
  #item-2:checked ~ .cards #card-3,
  #item-3:checked ~ .cards #card-1 {
    transform: translatex(25%) scale(0.8) !important;
    opacity: 0.3;
    z-index: 0;
  }

  #item-1:checked ~ .cards #card-1,
  #item-2:checked ~ .cards #card-2,
  #item-3:checked ~ .cards #card-3 {
    transform: translatex(0) scale(1);
    opacity: 1;
    z-index: 1;
  }
}
.project-textarea {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project-textarea p {
  padding-top: 1em;
  padding-left: 2.5em;
  line-height: 1.2em;
  font-size: 12px;
  width: 150px;
  color: rgb(206, 205, 205);
}

.project-textarea h3 {
  padding-top: 2.5em;
  padding-bottom: 0.5em;
  font-size: 0.9em;
  border-width: 0 0 1px 0px;
  border-style: solid;
  border-image: linear-gradient(to left, transparent, aqua, transparent) 1;
}

.project-img {
  height: 100%;
  width: 65%;
  filter: grayscale(70%);
  box-shadow: 0px 1px 30px -1px rgba(0, 0, 0, 0.75);
}

#item-1:checked ~ .cards #card-3,
#item-2:checked ~ .cards #card-1,
#item-3:checked ~ .cards #card-2 {
  transform: translatex(-40%) scale(0.8);
  opacity: 0.3;
  z-index: 0;
}

#item-1:checked ~ .cards #card-2,
#item-2:checked ~ .cards #card-3,
#item-3:checked ~ .cards #card-1 {
  transform: translatex(40%) scale(0.8);
  opacity: 0.3;
  z-index: 0;
}

#item-1:checked ~ .cards #card-1,
#item-2:checked ~ .cards #card-2,
#item-3:checked ~ .cards #card-3 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
}

a {
  text-decoration: none;
  color: whitesmoke;
}
