.BtnSection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70vh;
  height: 20vh;
}
.BtnSection button {
  margin-left: 25px;
  border: 3px solid aqua;
  background: none;
  border-radius: 100%;
  padding: 10px;
  color: aqua;
  font-size: 25px;
}

.IconBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.IconBtn:hover {
  transform: scale(1.3);
  transition: transform 0.3s;
}

.textBox {
  color: whitesmoke;
  font-size: 15px;
  margin-top: 30px;
  text-align: center;
  max-width: 600px;
  transition: transform 0.3s;
}

.textContainer {
  height: 80px;
}

.interesseTitle {
  color: whitesmoke;
  font-weight: 200;
}
