@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap");

body {
  margin: 0;
  background: black;
  color: white;
  font-family: montserrat;
  letter-spacing: 0.15em;
}

.icon {
  vertical-align: middle;
  padding: 0 15px;
}

.about-img {
  height: 200px;
  padding-left: 50px;
}

.about-p {
  margin: 0;
  padding-top: 50px;
  padding-right: 50px;
  max-width: 60%;
}

.text-container {
  width: 65%;
  margin: 0 auto;
  padding-left: 40px;
  padding-top: 50px;
  padding-bottom: 0;
}

.kontaktinfo-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.kontaktinfo-list li {
  margin-top: 15px;
}
