@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap");

body {
  margin: 0;
  background: black;
  color: white;
  font-family: montserrat;
  letter-spacing: 0.15em;
}

.icon {
  vertical-align: middle;
  padding: 0 15px;
}
